<div class="join-component" fxLayout="column" fxLayoutGap="12px" [formGroup]="authForm">
  <div fxLayout="column" fxLayoutAlign="start center" class="header">
    <h1>Join</h1>
    <h1>Super Secret Chat</h1>
    <h5>Enter credentials to login/register</h5>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!authForm.valid" (click)="join()">Join</button>
  <button mat-raised-button color="accent" [disabled]="!authForm.valid" (click)="register()">Register</button>
</div>
