<div class="register-component" fxLayout="column" fxLayoutGap="12px">
  <div fxLayout="row" fxLayoutAlign="center center" class="header">
    <h1>Register</h1>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password">
  </mat-form-field>

  <button mat-raised-button color="primary">Register</button>
  <a mat-stroked-button [routerLink]="['/auth/login']">Login</a>
</div>
