<div style="height: 100vh;" *ngIf="showToolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Super Secret Chat</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <ng-container *ngFor="let nav of navigation">
          <a *ngIf="nav.type==='url'" [routerLink]="[nav.route]" [routerLinkActive]="'active'" mat-button>{{nav.name}}</a>
          <a *ngIf="nav.type==='action'" (click)="nav.action()" mat-button>{{nav.name}}</a>
        </ng-container>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list class="list-size" ngClass.gt-xs="vw-40" ngClass.gt-sm="vw-30" >
        <ng-container *ngFor="let nav of navigation">
          <a *ngIf="nav.type==='url'" mat-list-item [routerLink]="nav.route" routerLinkActive="active">{{nav.name}}</a>
          <a *ngIf="nav.type==='action'" mat-list-item (click)="nav.action()">{{nav.name}}</a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet *ngIf="!showToolbar"></router-outlet>
